* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 8px;

}

::-webkit-scrollbar-track{
  background-color: #2c2c31;
}
::-webkit-scrollbar-thumb{
  background-color: #9e9ea0;
}



body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline;
  overflow-y: scroll; /*esse scroll serve para que a tela lateral role*/
}
.memory {
  display: flex;
  flex-direction: column;git remote add origin https://github.com/ferreiraKa/nlw-spacetime.git
  gap: 16px;
  text-decoration:none;
  margin-bottom:64px;
}

.memory small {
  color: #bebebf;
  font-size: 12px;
}
.memory h1 {
  font-size: 32px;
  color: rgb(98, 15, 131);
}
.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border: radius 8px;
  transition: transform 1.1s ease-in-out;
}
.memory div{
  width: 100%;
  height: 280px;
  overflow: hidden;
  border: radius 8px;
}

.memory:hover img{
  transform: scale(1.1);
}

.memory p {
  font-size: 18px;
  color: #bebebf;
  line-height: 28px;
}

aside {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;
  background-image: url("./assets/gradiente.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%; /* auto 100% */
}

aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg #d39e33, #ed5636, #633bbc) border-box;
}

aside p {
  /* este aside está determinando as informações do texto abaixo da foto*/
  font-size: 32px;
  text-align: center;
  color: black;
}
aside spam {
  /* este aside esté determinando o texto que está dentro do spam no index*/
  font-size: 20px;
  color: black;
}
@media(max-width:768px){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: 
    "profile"
    "timeline";
  };
  
}
